<!-- <header-title title="{{'Gestión de medicamentos'}}"></header-title> -->

<div class="header">
    <a href="https://www.pichincha.com/" class="logo">
        <img class="w-100 icon_pichincha" alt="Icon" href="https://www.pichincha.com/"
            src="../assets/media/banco-pichincha.svg">
    </a>
</div>

<app-product-list></app-product-list>


<!-- <div style="padding-left:20px">
    <h1>Responsive Header</h1>
    <p>Resize the browser window to see the effect.</p>
    <p>Some content..</p>
</div>  -->



<!-- <app-products></app-products> -->



<router-outlet></router-outlet>